{% extends 'base.html' %} 
{% load static %}
{% block title %}
    Index
{% endblock %}

{% block body %}
        <header>        
            <nav class="px-5 navbar navbar-light navbar-expand-lg bg-light justify-content-between header_top">            
                
                <span class="d-flex align-items-center">                
                    <img src="{% static 'images/logo.png' %}" alt="logo banco de bogotá" style="width:15rem;">            
                </span>            
                <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarNav"                
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">                
                    <span class="navbar-toggler-icon "></span>            
                </button>
            <div class="callapse h3 text-light d-flex justify-content-center mt-1" id="navbarNav">
                <i class="bi text-center bi-shield-x me-2"></i>Proyecto Final
            </div>
            <span style="color: white; margin-left: 500px;">{{ request.session.rol }}</span>
            <a href="/logout" class="btn btn-danger">Logout</a>
            </nav>
            <div class="banner-image"></div>
            </header> 

    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-3">¡Hola desde el Index!</h1>
            <p class="lead">Bienvenido a la página principal Admin.</p>
        </div>

        <div class="mt-4">
            <a href="/venta" class="btn btn-primary mr-2">Crear Venta</a>
            <a href="/product_list" class="btn btn-primary mr-2">Ver Productos</a>
            {% comment %} <span style="color: white; margin-left: 500px;">{{ request.session.rol|upper }}</span>
            <a href="/logout" class="btn btn-danger">Logout</a> {% endcomment %}
        </div>
    </div>
{% endblock %}
